
body {
    background-color: #F4E99B;
    font-family: Lora, sans-serif;
  }
  /*FOOTER*/
  footer {
    background-color: hsla(270, 90%, 100%, 0.5);
    border: 1px solid black;
    margin-right: 1vw;
    width: 100%;
    text-align: center;
  }
  
  footer a {
    margin-left: 3%;
    margin-right: 3%;
  }
  
  footer a {
    color: hsla(90, 0%, 30%, 1);
    text-decoration: none;
    font-size: 1.7rem;
  }
  
  /* Footer SLUT*/
  /*Nav bar*/
  nav {
    margin: auto;
    text-align: center;
    border: 1px solid black;
  }
  
  nav a {
    color: hsla(227, 100%, 29%, 1);
    font-size: 1.4rem;
    margin-left: 7vw;
    text-decoration: none;
  }
  
  nav a:hover {
    color: white;
  }
  
  #logo:hover {
    color: hsla(227, 100%, 29%, 1);
  }
  
  #logo {
    /*ändra specifikt för nav a logo*/
    font-size: 1.9rem;
    margin-right: 7vw;
  }
  
  /*Nav bar SLUT*/

/*  NAVBAR */

@media screen and (max-width: 900px) {
  nav a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 850px)  {

    nav a {
        font-size:0.7rem;
    }
    #logo {
      font-size: 0.95rem;
    }
    footer a {
      font-size: 0.95rem;
    }

}

